body {
  background-image: url(../assets/image/background\ Auth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  border-radius: 8px;
  border: 1px solid gray;
  width: 600px;
  height: 450px;
  padding: 100px;
  background-color: white;
}

.h1-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}

.p-text {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

#email {
  margin-top: 20px;
  margin-bottom: 30px;
  width: 400px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
}

.button-input {
  width: 400px;
  height: 120px;
  background-color: rgb(64, 106, 244);
  color: white;
  border-radius: 5px;
  border: none;
}

.a-link-button {
  text-decoration: none;
  color: white;
}

#error-message {
  margin-top: -30px;
  margin-bottom: 20px;
  color: red;
}
