* {
  font-family: Alibaba;
}

body {
  background-image: url(../assets/image/background\ Auth.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  border-radius: 8px;
  border: 1px solid gray;
  width: 600px;
  height: 500px;
  padding: 100px;
  background-color: white;
}

.input-confirm-email {
  border-radius: 8px;
  border: 0.5px solid gray;
  margin: 1px;
  text-align: center;
  width: 50px;
  height: 50px;
}

.h1-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
}

.p-text {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.edit-email {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.resend-code {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-decoration: none;
}

#error-message {
  color: rgb(5, 158, 5);
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.a-link-button {
  text-decoration: none;
  color: white;
}

.submit-input {
  width: 400px;
  height: 120px;
  margin-top: 30px;
  background-color: rgb(64, 106, 244);
  color: white;
  border-radius: 5px;
  border: none;
}
