/* .seconddiv {
  position: relative;
  background-color: white;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  box-shadow: 0 1px 1px 0;
} */

/* .navbar-brand {
  margin-left: 20px;
  font-weight: 900;
  position: fixed;
}

.weather-header {
  margin-left: 1390px;
  margin-right: 25px;
  font-size: 15px;
  font-weight: bold;
}

.home-header {
  font-size: 15px;
  font-weight: bold;
} */

/* .headenav {
  display: flex;
  gap: 30px;
  position: fixed;
  width: 100%;
  background-color: #ffff;
  z-index: 1;
} */

main {
  padding-bottom: 50px;
  background-color: #fefefe;
}

.headenav {
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.livesearch {
  position: absolute;
  background-color: rgb(255, 255, 255);
  border-color: rgb(227, 227, 227);
  border-width: thin;
  border-style: solid;
  border-radius: 5px;
  width: 250px;
  max-height: 250px;
  overflow-y: auto;
}

.livesearch::-webkit-scrollbar {
  width: 8px;
}

.livesearch::-webkit-scrollbar-thumb {
  background-color: #aeaeae;
  border-radius: 4px;
}

.livesearch::-webkit-scrollbar-thumb:hover {
  background-color: #949494;
}

.firstinput .livesearch {
  top: 70px;
  right: 91px;
}

.secondinput .livesearch {
  top: 70px;
  left: 91px;
}

.hide {
  display: none;
}

.autocomplete-item {
  height: 40px;
}

.autocomplete-item:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.inner-block {
  text-align: right;
  border-bottom: #e2e2e2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.textone {
  font-weight: 40px;
}

.linkdiv {
  font-size: 25px;
  text-decoration: none;
  padding: 5px 5px;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

#linkone {
  margin-left: 1200px;
}

.buttondiv {
  border-radius: 15px;
  background-color: white;
  border-color: #499;
  color: #333;
  font-weight: bold;
  font-size: 25px;
}

.thirddiv {
  background-image: url(../assets/image/train.png);
  width: 1000px;
  height: 500px;
  margin-top: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  margin-left: 258px;
}

.forthdiv {
  position: relative;
  width: 870px;
  height: 300px;
  margin-top: -100px;
  margin-left: 321px;
  background-color: white;
  border-radius: 15px;
  z-index: 1;
  border-color: #9f9f9f;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.texts {
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  /* border-color: gray; */
  background-color: white;
  width: 95%;
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 30px;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.textss {
  border-style: solid;
  border-width: 1px;
  border-color: #9f9f9f;
  /* border-color: gray; */
  background-color: white;
  width: 95%;
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px 30px;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.textone {
  line-height: 50px;
}

.headspan {
  position: relative;
  display: flex;
  color: #333;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

.error {
  color: red;
  font-size: 14px;
  display: none;
}

details {
  display: block;
}

/* .fifthdiv {
  direction: rtl;
} */

.fifthdiv {
  direction: rtl;
  width: 100%;
  /* height: 80px; */
  position: relative;
  justify-items: center;
  padding-bottom: 70px;
}

.input {
  direction: rtl;
  width: 250px;
  margin: 20px 20px;
  border-radius: 5px;
  padding: 10px 10px;
}

.search {
  width: 150px;
  border-radius: 15px;
  padding: 10px 25px;
  margin-top: 30px;
}

.bodytext {
  grid-row: 20px;
  margin-bottom: 50px;
}

.bodytext p {
  margin-top: 30px;
}

.qoestionfirst {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 25px;
  /* margin: 70px 50px; */
  margin-top: 50px;
  padding: 50px 50px;
  font-size: 25px;
}

.qoestiontwo {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 25px;
  /* margin: 71px 50px; */
  margin-top: 50px;
  padding: 50px 50px;
  font-size: 25px;
}

.qoestionthree {
  position: relative;
  width: 100%;
  height: 30px;

  /* margin: 50px 50px; */
  margin-top: 50px;
  padding: 50px 50px;
  font-size: 25px;
  line-height: 25px;
}

 
