.pagination-container {
  display: flex;
  align-items: center;
  width: 700px;
  overflow: hidden;
  position: relative;
  margin-top: 100px;
  margin-left: 450px;
}

/* .navbar-brand {
  margin-left: 20px;
  font-weight: 900;
  position: fixed;
}

.weather-header {
  margin-left: 1390px;
  margin-right: 25px;
  font-size: 15px;
  font-weight: bold;
}

.home-header {
  font-size: 15px;
  font-weight: bold;
} */

.headenav {
  font-size: larger;
  font-weight: bold;
}

.pagination-wrapper {
  overflow: hidden;
  flex: 1;
}

.pagination {
  display: flex;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.page-item {
  list-style: none;
  margin: 0 10px;
}

.page-link {
  display: inline-block;
  width: 125px;
  /* text-decoration: none; */
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  color: #000;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.page-link:hover {
  background-color: #0d6efd;
  color: white;
}

.scroll-btn {
  background-color: #0d6efd;
  color: white;
  width: 35px;
  height: 50px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.scroll-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* tickets style */
#box1{
  font-family: Calibri;
  /* width: 800px; */
  width: 100%;
  /* height: 600px; */
  min-height: 600px;
  /* margin-top:100px; */
  /* margin-left: 360px;
  margin-right: 360px; */
  background-color: rgb(227, 236, 236);
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  

}
.child1{
  width: 720px;
  height: 150px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 55px;
  left: 20px;
  box-shadow:1px 1px gray;
}
.child2{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 160px;
  height: 145px;
  border-right-color:rgb(207, 205, 205) ;
  border-left-color: #ffff;
  border-top-color: #ffff;
  border-bottom-color: #ffff;
  border-style: solid;

}

.child3{
  position: relative;
  width:154px;
  height: 40px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}
.textbold{
 position: absolute;
 top: 10px;
 left: 41px;
 font-size: 20px;
 font-weight:5px ;
}

.child4{
  position: relative;
  width: 130px;
  height: 55px;
  border-color: rgb(91, 141, 234);
  border-style: solid;
  border-radius: 15px;
  background-color: rgb(91, 141, 234);
  /* margin-left: 10px; */
  
}

.bottomtext{
  position: absolute;
  top: 15px;
  left: 24px;
  font-size: 22px;
  font-weight: 40px;
  color:rgb(59, 53, 53) ;
  cursor:pointer;
}

.child5{
  position: absolute;
  top:110px;
  left:31px;

}
.text1{
  color: rgb(88, 85, 82);
  font-size: 14px;
}

.child6{
  position: absolute;
  top:40px;
  right: 20px;
}

.imgg {
  width: 50px;
}

.child7{
  display: flex;
  position: absolute;
  top:70px;
  right: 100px;
}
.text2{
  font-size: 25px;
  /* position: relative; */
  color: rgb(88, 85, 82);
  margin-left: 10px;
}
.text3{
  /* position: absolute;
  right: 60px;
  top: 1px; */
  font-weight: bolder;
  font-size: 25px;
  margin-left: 10px;
}
/* .child8{
  position: absolute;
  right:150px;
  bottom:-5px;
} */

.child9{
  display: flex;
  position: absolute;
  top: 70px;
  right:380px;
}

.text4{
  font-size: 25px;
  /* position: relative; */
  color: rgb(88, 85, 82);
  margin-left: 10px;
}

.text5{
  /* position: absolute;
  right:27px;
  top: 1px; */
  font-size: 25px;
  font-weight: bolder;
  margin-left: 10px;
  
}


