* {
  font-family: Alibaba;
}

main {
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}

#reservationForm {
  position: relative;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 8px;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
}

.input-cont {
  position: relative;
}

.validation {
  display: none;
  text-align: center;
  font-size: 15px;
  position: absolute;
  top: 80%;
  margin-right: 50%;
  transform: translate(50%);
  white-space: nowrap;
  overflow: hidden;
}
#passengers {
  padding-bottom: 50px;
}

.input-fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}

.input {
  border-color: black;
  size: 50px;
  border-radius: 5px;
  background-color: rgb(244, 244, 244);
  direction: rtl;
  padding: 10px 10px;
  margin: 20px 0px;
  font-size: 16px;
}

.information {
  direction: rtl;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 80px;
  font-size: 30px;
}
.information-C {
  direction: rtl;
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-right: 100px;
  margin-bottom: 50px;
  font-size: 18px;
}

#addPassenger {
  margin-right: 100px;
}

#button-valid {
  width: 200px;
  margin-right: 75%;
}

.passenger hr {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.delete {
  display: flex;
  align-items: center;
  background-color: white;
  color: rgb(221, 0, 0);
  border: none;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}
