main {
    direction: rtl;
    background-color: #f9f9f9;
    padding: 50px 0px 50px 0px;
}

#text-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 40%;
    height: 450px;
    border-radius: 8px;
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
}

h1, h2 {
    text-align: center;

}

#accordion {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.texts {
    border-radius: 8px;
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 95%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    box-shadow: 0px 2px 5px #b7b7b7;
}

.textss {
    border-radius: 8px;
    border-color: #cfcfcf;
    border-style: solid;
    border-width: 1px;
    background-color: white;
    width: 95%;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px;
    box-shadow: 0px 2px 5px #b7b7b7;
}

.fifthdiv {
    direction: rtl;
    width: 100%;
    position: relative;
    padding-bottom: 70px;
}