.seconddiv {
    position: relative;
    background-color: white;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0;


}

.headenav {
    display: flex;
    gap: 30px;
    position: fixed;
    width: 100%;
    background-color: #ffff;
    z-index: 1;

}

.textone {
    font-weight: 40px;
}

.linkdiv {
    font-size: 25px;
    padding: 5px 5px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#linkone {
    margin-left: 1200px;
}

.buttondiv {
    border-radius: 15px;
    background-color: white;
    border-color: #499;
    color: #333;
    font-weight: bold;
    font-size: 25px;
}

.thirddiv {
    background-image: url(/assets/train.png);
    width: 1000px;
    height: 500px;
    margin-top: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-left: 258px;

}

.forthdiv {
    width: 870px;
    height: 300px;
    margin-top: -100px;
    margin-left: 321px;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
    border-color: #333;
    border-style: groove;

}

.texts{
    border-style: solid;
    border-color: #eff48f;
    margin-top: 50px;
    border-radius: 5px;
    padding: 30px 30px;
}
.textss{
    border-style: solid;
    border-color: #eff48f;
    margin-top: 50px;
    border-radius: 5px;
    padding: 30px 30px;
}
.textone{
    line-height: 50px;
}
.headspan {
    position: relative;
    display: flex;
    color: #333;
    align-items: center;
    cursor: pointer;
    list-style: none;
}

.error {
    color: red;
    font-size: 14px;
    display: none;
}

details {
    display: block;
}

.fifthdiv {
    direction: rtl;
}

.fifthdiv {
    width: 100%;
    height: 80px;
    position: relative;
    justify-items: center;
}

.input {
    width: 250px;
    margin: 20px 20px;
    border-radius: 5px;
    padding: 10px 10px;
}

.search {
    width: 150px;
    border-radius: 15px;
    padding: 10px 25px;
    margin-top: 30px;
}

.bodytext {

    grid-row: 20px;
}

.qoestionfirst {
    width: 100%;
    height: 20px;
    line-height: 25px;
    margin: 70px 50px;
    font-size: 25px;
}

.qoestiontwo {
    width: 100%;
    height: 20px;
    line-height: 25px;
    margin: 71px 50px;
    font-size: 25px;
}

.qoestionthree {
    width: 100%;
    height: 20px;

    margin: 50px 50px;
    font-size: 25px;
    line-height: 25px;
}