.pagination-container {
  display: flex;
  align-items: center;
  width: 700px;
  overflow: hidden;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f9f9;
}

.headenav {
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.pagination-wrapper {
  overflow: hidden;
  flex: 1;
}

.pagination {
  margin: unset;
  display: flex;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

.page-item {
  list-style: none;
}

.page-link {
  display: inline-block;
  width: 125px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background-color: #f8f9fa;
  border: 2px solid #dee2e6;
  color: #000;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}

.page-link:hover {
  background-color: #0d6efd;
  color: white;
}

.scroll-btn {
  background-color: #0d6efd;
  color: white;
  width: 35px;
  height: 50px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
}

.scroll-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* tickets style */
#box1{
  font-family: Calibri;
  width: 100%;
  min-height: 600px;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.child1{
  width: 720px;
  height: 150px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  position: relative;
  box-shadow:1px 1px gray;
  border-color: rgb(227, 227, 227);
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
}

.child2{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
  height: 145px;
  border-right-color:rgb(207, 205, 205) ;
  border-right-style: solid;

}

.child3{
  position: relative;
  width:154px;
  height: 40px;
}

.textbold{
 position: absolute;
 top: 10px;
 left: 41px;
 font-size: 20px;
 font-weight:5px ;
}

.child4{
  position: relative;
  width: 130px;
  height: 55px;
  border-color: rgb(91, 141, 234);
  border-style: solid;
  border-radius: 15px;
  background-color: rgb(91, 141, 234);
}

.bottomtext{
  position: absolute;
  top: 15px;
  left: 24px;
  font-size: 22px;
  font-weight: 40px;
  color:rgb(59, 53, 53) ;
  cursor:pointer;
}

.child5{
  position: absolute;
  top:110px;
  left:31px;

}
.text1{
  color: rgb(88, 85, 82);
  font-size: 14px;
}

.child6{
  position: absolute;
  top:40px;
  right: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.train-type {
  position: absolute;
  font-size: 13px;
  background-color: #dee2e6;
  border-radius: 1024px;
  color: #4b5259;
  padding: 5px;
  top: 10px;
  right: 110px;
}

.imgg {
  width: 50px;
}

.path-image {
  width: 150px;
  height: 30px;
  margin-left: 10px;
}

.child7{
  font-size: 22px;
  display: flex;
  position: absolute;
  top:70px;
  right: 110px;
}

.text2{
  color: rgb(88, 85, 82);
  margin-left: 10px;
}

.text3{
  font-weight: bolder;
  margin-left: 10px;
}

.child8{
  margin-left: 10px;
}

.text4{
  color: rgb(88, 85, 82);
  margin-left: 10px;
}

.text5{
  font-weight: bolder;
  margin-left: 10px;
  
}

#accordion {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.texts {
  border-radius: 8px;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  width: 95%;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.textss {
  border-radius: 8px;
  border-color: #cfcfcf;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  width: 95%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 30px;
  box-shadow: 0px 2px 5px #b7b7b7;
}

.fifthdiv {
  direction: rtl;
  width: 100%;
  position: relative;
  padding-bottom: 70px;
}


